<div class="tour">
    {{ form_start(form, { 'action': path('profile_tour_request_new', { 'tourOrderId': orderDetail.id }) }) }}
    {{ form_errors(form) }}

    <p class="form-row form-row form-row-wide">
        {{ form_label(form.numberOfAdults) }}
        {{ form_widget(form.numberOfAdults, {'attr': {'class': 'input-text'}}) }}
    </p>

    <p class="form-row form-row form-row-wide">
        {{ form_label(form.numberOfChildren) }}
        {{ form_widget(form.numberOfChildren, {'attr': {'class': 'input-text'}}) }}
    </p>

    <p class="form-row form-row form-row-wide">
        {{ form_label(form.numberOfInfants) }}
        {{ form_widget(form.numberOfInfants, {'attr': {'class': 'input-text'}}) }}
    </p>

    <div class="form-row place-order">
        <input type="submit" class="button alt" name="tour_checkout_place_order" id="place_order"
               value="Hoàn tất">
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>