{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_title %}
    Tour của bạn
{% endblock %}

{% block sonata_profile_content %}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="tour">
            {% if 'pending' == orderDetail.status and orderDetail.expiryDate %}
                <p>Quý khách vui lòng thanh toán hóa đơn trước
                    <strong>{{ orderDetail.expiryDate|date('d/m/Y H:i') }}</strong></p>
            {% endif %}
            <ul class="woocommerce-thankyou-order-details order_details">
                <li class="order">
                    Mã đơn đặt tour: <strong>{{ orderDetail.id }}</strong>
                </li>

                <li class="date">
                    Ngày: <strong>{{ 'now'|date('d/m/Y') }}</strong>
                </li>

                <li class="total">
                    Tổng cộng: <strong>{{ orderDetail.invoice.totalPrice|priceFilter|raw }}</strong>
                </li>

                <li class="method">
                    Phuong thức thanh toán: <strong>{{ orderDetail.checkoutMethod|paymentMethod }}</strong>
                </li>

                <li class="status">
                    Tình trạng: <strong>{{ orderDetail.status|orderStatus }}</strong>
                </li>
            </ul>
            <div class="clear"></div>

            <h2>Thông tin đặt tour</h2>

            {% set tourPrice = 0 %}
            {% if orderDetail.tour.salePrice %}
                {% set tourPrice = orderDetail.tour.salePrice %}
            {% else %}
                {% set tourPrice = orderDetail.tour.regularPrice %}
            {% endif %}

            <div class="cs-shortcode-table">
                <div class="cs-table-responsive">
                    <table class="shop_table_ order_details_">
                        <tbody>
                        <tr>
                            <td>Tên tour:</td>
                            <td>{{ orderDetail.tour.tourName }}</td>
                        </tr>
                        <tr>
                            <td>Ngày khởi hành:</td>
                            <td>{{ orderDetail.tour.startDate|date('d/m/Y') }}</td>
                        </tr>
                        <tr>
                            <td>Người lớn:</td>
                            <td>{{ orderDetail.numberOfAdults }} x {{ tourPrice|priceFilter|raw }}</td>
                        </tr>
                        <tr>
                            <td>Trẻ em:</td>
                            <td>{{ orderDetail.numberOfChildren }} x {{ (tourPrice/1.5)|priceFilter|raw }}</td>
                        </tr>
                        <tr>
                            <td>Em bé:</td>
                            <td>{{ orderDetail.numberOfInfants }} x 0</td>
                        </tr>
                        <tr>
                            <th scope="row">Tổng cộng:</th>
                            <th style="text-align: center;">{{ orderDetail.invoice.totalPrice|priceFilter|raw }}</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <h2>Thông tin khách hàng</h2>
            <div class="cs-shortcode-table">
                <div class="cs-table-responsive">
                    <table class="shop_table_ customer_details_">
                        <tbody>
                        <tr>
                            <td>Email:</td>
                            <td>{{ orderDetail.email }}</td>
                        </tr>
                        <tr>
                            <td>Số điện thoại:</td>
                            <td>{{ orderDetail.billingPhone }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <h2>Địa chỉ</h2>
            <address>
                <p>{{ orderDetail.billingAddress1 }}</p>
                <p>{{ orderDetail.billingAddress2 }}</p>
                <p>{{ orderDetail.billingCity }}</p>
            </address>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
        {{ render(controller('AppBundle:User:createOnePayCheckoutButton', {'tourOrder' : orderDetail})) }}

        {{ render(controller('AppBundle:User:createRequestButton', {'tourOrder' : orderDetail})) }}

        {{ render(controller('AppBundle:User:tourOrderDeleteForm', { 'tourOrder':orderDetail })) }}
    </div>
{% endblock %}