{% extends sonata_block.templates.block_base %}

{% block block %}
    {% if orders %}
        <div class="cs-shortcode-table">
            <div class="cs-table-responsive">
                <table>
                    <thead>
                    <tr>
                        <th>Tên tour</th>
                        <th>Ngày khởi hành</th>
                        <th>Số lượng người</th>
                        <th>Giá</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{{ path('profile_tour_order_detail', { 'tourOrderId': order.id }) }}">{{ order.tour.tourName }}</a>
                            </td>
                            <td>{{ order.departure | date('d-m-Y') }}</td>
                            <td>
                                {{ order.adults }}
                            </td>
                            <td>
                                {% if order.tour.salePrice %}
                                    {% set price = order.tour.salePrice %}
                                {% else %}
                                    {% set price = order.tour.regularPrice %}
                                {% endif %}

                                {{ order.adults * price }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}