{% extends 'base.html.twig' %}

{% block title %}Đặt tour {{ tour.tourName }}{% endblock %}

{% block sub_header %}
    <div class="cs-sub-header"
         style="background:url({{ asset('assets/frontend/images/subheader-shop.jpg') }}) no-repeat;background-size:cover;padding-top:200px!important;height:415px!important">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="cs-page-title left">
                        <h2 style="color:#ffffff !important;">Đặt tour</h2>
                        <p style="color:#ffffff !important;">
                            Điền đầy đủ thông tin bên dưới để hoàn thành việc đặt
                            tour</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="main-section">
        <div class="container">
            <div class="row">
                <div class="page-content col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="cs-rich-editor">
                        {{ render(controller('AppBundle:Tour:orderForm', {'id' : tour.id})) }}
                    </div>
                </div>

                <div class="page-sidebar col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="widget widget-tour-info">
                        <div class="widget-title">
                            <h4>
                                Thông tin đặt tour
                            </h4>
                        </div>

                        <div class="widget-content booking-item-payment">
                            <header class="clearfix">
                                <div class="cs-media">
                                    <a href="{{ path('tour_detail', {'categorySlug': tour.category.slug, 'slug': tour.slug}) }}">
                                        <img src="{% path tour.featuredImage, 'reference' %}" width="150" height="113">
                                    </a>
                                </div>

                                <div class="cs-title">
                                    <a href="{{ path('tour_detail', {'categorySlug': tour.category.slug, 'slug': tour.slug}) }}">
                                        {{ tour.tourName }}
                                    </a>
                                </div>
                            </header>
                            <ul class="booking-item-payment-details">
                                <li>
                                    <div class="booking-item-payment-title">
                                        Ngày khởi hành
                                    </div>

                                    <div class="booking-item-payment-content">
                                        {{ departure }}
                                    </div>
                                </li>

                                <li>
                                    <div class="booking-item-payment-title">
                                        Người lớn
                                    </div>

                                    <div class="booking-item-payment-content">
                                        {{ adults }}
                                    </div>
                                </li>

                                <li>
                                    <div class="booking-item-payment-title">
                                        Trẻ em
                                    </div>

                                    <div class="booking-item-payment-content">
                                        {% if children %}{{ children }}{% else %}0{% endif %}
                                    </div>
                                </li>

                                <li>
                                    <div class="booking-item-payment-title">
                                        Em bé
                                    </div>

                                    <div class="booking-item-payment-content">
                                        {% if infants %}{{ infants }}{% else %}0{% endif %}
                                    </div>
                                </li>
                            </ul>

                            {% set tourPrice = 0 %}
                            {% if tour.salePrice %}
                                {% set tourPrice = tour.salePrice %}
                            {% else %}
                                {% set tourPrice = tour.regularPrice %}
                            {% endif %}
                            <div class="booking-item-payment-total">
                                <table border="0" class="table_checkout">
                                    <tbody>
                                    <tr>
                                        <td>Người lớn</td>
                                        <td class="text-right">
                                            {% set adultPrice = tourPrice * adults %}
                                            <strong>{{ adultPrice|priceFilter|raw }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Trẻ em</td>
                                        <td class="text-right">
                                            {% set childrenPrice = (tourPrice * children)/1.5 %}
                                            <strong>{{ childrenPrice|priceFilter|raw }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Em bé</td>
                                        <td class="text-right"><strong>{{ 0|priceFilter|raw }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td><strong>Tổng cộng</strong></td>
                                        <td class="text-right"><strong>{{ (adultPrice + childrenPrice)|priceFilter|raw }}</strong></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}