{% extends 'base.html.twig' %}

{% block title %}Thanh toán{% endblock %}

{% block sub_header_content %}
    <h1>Thông tin đặt tour</h1>
{% endblock %}

{% block body %}
    <div class="main-section">
        <div class="container">
            <div class="row">
                <div class="page-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="tour">
                        <p class="woocommerce-thankyou-order-received">Cảm ơn bạn. Đơn đặt tour của bạn đã được
                            nhận.</p>
                        {% if 'pending' == tourOrder.status %}
                            <p>
                                Bạn có 24 giờ để thanh toán hóa đơn đặt tour.
                            </p>
                        {% endif %}
                        <ul class="woocommerce-thankyou-order-details order_details">
                            <li class="order">
                                Mã đơn đặt tour: <strong>{{ tourOrder.id }}</strong>
                            </li>

                            <li class="date">
                                Ngày: <strong>{{ 'now'|date('d/m/Y') }}</strong>
                            </li>

                            <li class="total">
                                Tổng cộng: <strong>{{ tourOrder.invoice.totalPrice|priceFilter|raw }}</strong>
                            </li>

                            <li class="method">
                                Phuong thức thanh toán: <strong>{{ tourOrder.checkoutMethod|paymentMethod }}</strong>
                            </li>

                            <li class="status">
                                Tình trạng: <strong>{{ tourOrder.status|orderStatus }}</strong>
                            </li>
                        </ul>
                        <div class="clear"></div>

                        <h2>Thông tin đặt tour</h2>

                        {% set tourPrice = 0 %}
                        {% if tourOrder.tour.salePrice %}
                            {% set tourPrice = tourOrder.tour.salePrice %}
                        {% else %}
                            {% set tourPrice = tourOrder.tour.regularPrice %}
                        {% endif %}

                        <div class="cs-shortcode-table">
                            <div class="cs-table-responsive">
                                <table class="shop_table_ order_details_">
                                    <tbody>
                                    <tr>
                                        <td>Tên tour:</td>
                                        <td>{{ tourOrder.tour.tourName }}</td>
                                    </tr>
                                    <tr>
                                        <td>Ngày khởi hành:</td>
                                        <td>{{ tourOrder.tour.startDate|date('d/m/Y') }}</td>
                                    </tr>
                                    <tr>
                                        <td>Người lớn:</td>
                                        <td>{{ tourOrder.numberOfAdults }} x {{ tourPrice|priceFilter|raw }}</td>
                                    </tr>
                                    <tr>
                                        <td>Trẻ em:</td>
                                        <td>{{ tourOrder.numberOfChildren }}
                                            x {{ (tourPrice/1.5)|priceFilter|raw }}</td>
                                    </tr>
                                    <tr>
                                        <td>Em bé:</td>
                                        <td>{{ tourOrder.numberOfInfants }} x 0</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Tổng cộng:</th>
                                        <th style="text-align: center;">{{ tourOrder.invoice.totalPrice|priceFilter|raw }}</th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <h2>Thông tin khách hàng</h2>
                        <div class="cs-shortcode-table">
                            <div class="cs-table-responsive">
                                <table class="shop_table_ customer_details_">
                                    <tbody>
                                    <tr>
                                        <td>Email:</td>
                                        <td>{{ tourOrder.email }}</td>
                                    </tr>
                                    <tr>
                                        <td>Số điện thoại:</td>
                                        <td>{{ tourOrder.billingPhone }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <h2>Địa chỉ</h2>
                        <address>
                            <p>{{ tourOrder.billingAddress1 }}</p>
                            <p>{{ tourOrder.billingAddress2 }}</p>
                            <p>{{ tourOrder.billingCity }}</p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}