<div class="page-content col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="cs-list grid">
        <div class="cs-media grid">
            {% if tour.discountPercent %}
                <span class="cs-off-price">{{ tour.discountPercent }}%<em>Off</em></span>
            {% endif %}
            <figure>
                <a href="{{ path('tour_detail', { 'slug': tour.slug }) }}">
                    <img src="{% path tour.featuredImage, 'reference' %}"
                         class="attachment-traveladvisor_var_media_2 size-traveladvisor_var_media_2 wp-post-image">
                </a>
            </figure>
        </div>

        <div class="cs-text">
            <div class="cs-heading-section">
                <div class="cs-post-title">
                    <h3>
                        <a href="{{ path('tour_detail', { 'slug': tour.slug }) }}">
                            {{ tour.tourName }}
                        </a>
                    </h3>
                    <ul>
                        {#<li>Duration: <span#}
                        {#class="cs-color">8 Days</span>#}
                        {#</li>#}
                    </ul>
                </div>
                <div class="cs-price-box">
                    <strong>
                        <sup>$</sup>{{ tour.salePrice }}
                        <span class="cs-color"><sup>$</sup>{{ tour.regularPrice }}</span>
                    </strong>
                    <p>Một người</p>
                </div>
            </div>
            <ul class="cs-listing-option">
                <li><a href="#" title="Type: driver,"><i
                                class="icon-uniF11F"></i></a></li>
                <li><a href="#" title="Interest: classic,"><i
                                class="icon-users3"></i></a></li>
                <li><a href="#" title="Season: 1_june---30_aug"><i
                                class="icon-uniF106"></i></a></li>
                <li><a href="#" title="Departure: weekly"><i
                                class="icon-location-arrow"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>