{% form_theme form 'forms/form_errors.html.twig' %}

<div class="tour">
    {{ form_start(form, {'action': path('sonata_user_change_password')  }) }}

    {{ form_errors(form.current_password) }}
    {{ form_errors(form.new.first) }}
    {{ form_errors(form.new.second) }}

    <p class="form-row form-row form-row-wide">
        {{ form_label(form.current_password) }}
        {{ form_widget(form.current_password, {'attr': {'class': 'input-text'}}) }}
    </p>

    <p class="form-row form-row form-row-wide">
        {{ form_label(form.new.first) }}
        {{ form_widget(form.new.first, {'attr': {'class': 'input-text'}}) }}
    </p>

    <p class="form-row form-row form-row-wide">
        {{ form_label(form.new.second) }}
        {{ form_widget(form.new.second, {'attr': {'class': 'input-text'}}) }}
    </p>

    {{ form_rest(form) }}

    <div class="form-row place-order">
        <input type="submit" name="submit" value="Cập nhật"
               class="button alt"/>
    </div>
    {{ form_end(form) }}
</div>