{{ form_start(form, { 'method': 'POST', 'action': path('tour_booking_new', {'tourSlug' : tour.slug}), 'attr': {'id': 'booking-form'} }) }}
    {{ form_errors(form) }}
<div id="booking-response"></div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="cs-select-fields">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="cs-search-field">
                        {{ form_label(form.adults) }}
                        {{ form_widget(form.adults, {'attr': {'class': 'chosen-select'}}) }}
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="cs-search-field">
                        {{ form_label(form.children) }}
                        {{ form_widget(form.children, {'attr': {'class': 'chosen-select'}}) }}
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="cs-search-field">
                        {{ form_label(form.infants) }}
                        {{ form_widget(form.infants, {'attr': {'class': 'chosen-select'}}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p style="margin: 0"><small>- Người lớn: Từ 12 tuổi trở lên</small></p>
        <p style="margin: 0"><small>- Trẻ em: Từ 5 tuổi đến dưới 12 tuổi</small></p>
        <p style="margin: 0"><small>- Em bé: Dưới 5 tuổi</small></p>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="cs-search-field" id="submit-section">
            <input type="submit" class="acc-submit cs-bgcolor" id="booking-submit" value="Đặt tour">
            <i class="icon-spinner9 spinner"></i>
        </div>
    </div>
</div>
{{ form_end(form) }}
<script>
    jQuery(document).ready(function ($) {
        $('#booking-submit').click(function (event) {
            event.preventDefault();

            $('#submit-section').addClass('loading');

            $.ajax({
                type: 'POST',
                url: '{{ path('tour_booking_check') }}',
                data: $('#booking-form').serialize() + '&tourId={{ tour.id }}',
                success: function (response) {
                    $('#submit-section').removeClass('loading');
                    console.log(response.status);
                    var error_container = '';
                    if ('error' == response.status) {
                        error_container = '<div class="alert alert-danger"><button aria-hidden="true" data-dismiss="alert" type="button" class="close">X</button><p><i class="icon-warning4"></i>' + response.info + '</p></div>';

                        $('#booking-response').html(error_container);
                    } else {
                        $('#booking-form').submit();
                    }
                }
            });
        });
    });
</script>