<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="package-info">
        <i class="icon-users"></i>

        <span class="head">{{ 'package_info.number_of_guess'|trans }}:</span>
        {{ tour.numberOfPeople }}
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="package-info">
        <i class="icon-users"></i>

        <span class="head">{{ 'package_info.remain_seats'|trans }}:</span>
        {{ remain_seats }}
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="package-info">
        <i class="icon-calendar"></i>

        <span class="head">{{ 'package_info.departure'|trans }}:</span>
        {{ tour.startDate|date('d/m/Y') }}
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="package-info">
        {# http://stackoverflow.com/questions/15657687/twig-date-difference #}
        {#{% set difference = date(tour.endDate).diff(date(tour.startDate)) %}#}
        {#{% set lefDays = difference.days %}#}
        <i class="icon-calendar"></i>

        <span class="head">{{ 'package_info.duration'|trans }}
            :</span> {{ tour.duration }} {{ 'package_info.day'|trans }}
    </div>
</div>