{% form_theme form ':forms:checkbox_widget.html.twig' %}

<div class="cs-listing-filters">
    <form action="{{ path('tour_listing_advanced_filters') }}" method="POST">
        <div class="cs-search">
            <h6>Tìm kiếm tour</h6>

            {{ form_errors(form) }}
            <div class="cs-field">
                {{ form_widget(form.tourName, {'attr': {'class': 'form-control txt-field side-location-field'}}) }}

                <label class="cs-bgcolor">
                    <input name="name" type="submit" value="" placeholder="">
                </label>
            </div>

            <div class="cs-search-field">
                <i class="icon-calendar"></i>
                <label id="Deadline" class="cs-calendar-combo">
                    {{ form_widget(form.departure) }}
                </label>
            </div>

        </div>

        <div class="cs-filter-title">
            <h5>Tìm kiếm nâng cao</h5>
        </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingLocations">
                    <a role="button" data-toggle="collapse" href="#collapseLocations" aria-expanded="true"
                       aria-controls="collapseLocations">
                        Địa điểm
                    </a>
                </div>

                <div id="collapseLocations" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="headingLocations">
                    <div class="panel-body">
                        <ul class="cs-checkbox-list">
                            {{ form_widget(form.locations) }}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingServices">
                    <a role="button" data-toggle="collapse" href="#collapseServices" aria-expanded="true"
                       aria-controls="collapseServices">
                        Dịch vụ
                    </a>
                </div>

                <div id="collapseServices" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingServices">
                    <div class="panel-body">
                        <ul class="cs-checkbox-list">
                            {{ form_widget(form.services) }}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingPrice">
                    <a role="button" data-toggle="collapse" href="#collapsePrice" aria-expanded="true"
                       aria-controls="collapsePrice">
                        Giá
                    </a>
                </div>

                <div id="collapsePrice" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPrice">
                    <div class="panel-body">
                        <ul class="cs-checkbox-list">
                            {{ form_widget(form.price) }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>
</div>